body {
  font-family: sans-serif;
  color: #000000;
  background-color:#4A70A9;
}

#main {
    padding: 0 0 20px 0;
    background-color:  #8FABD4;
}

#main-content{
  width: 80%;
  margin-left: auto;
  margin-right: auto;

}

#title {
  text-align: center;
}

#img-div {
    background-color: #EFECE3;
    border-radius: 5px;
    padding: 10px;
}

#image {
  height:auto;
  display: block;
  max-width: 100%;
  margin: 0 auto;

}

#tribute-link {
  color: green;
}

#tribute-link:hover {
  color: brown;
}
